In [436]:
import os
import pandas as pd

# Get the current directory
current_directory = os.getcwd()

# List all files in the current directory
all_files = os.listdir(current_directory)

# Filter files to keep only Excel files
excel_files = [file for file in all_files if file.endswith(('.xls', '.xlsx'))]

# Initialize an empty list to store DataFrames
dfs = []

# Define the desired column order
desired_columns_order = ['contributor name', 'job', 'Input text', 'features summary']

# Loop through each Excel file, read into a DataFrame, and rename columns
for excel_file in excel_files:
    file_path = os.path.join(current_directory, excel_file)
    df = pd.read_excel(file_path)

    # Rename columns based on the desired order
    df = df.rename(columns=dict(zip(df.columns, desired_columns_order)))

    # Append the modified DataFrame to the list
    dfs.append(df)

In [437]:
# Concatenate all DataFrames into a single DataFrame
concatenated_df = pd.concat(dfs, ignore_index=True)

# Display the concatenated DataFrame

In [438]:
concatenated_df.head()

,contributor name,job,Input text,features summary
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null..."
1,Ashwin J R,Teacher,"I conduct training workshops twice a month, an...","{ ""name"": ""Training Workshops"", ""sessions"": 2,..."
2,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul..."
3,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d..."
4,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n..."

In [439]:
#testing all dictionaries
schedules = concatenated_df["features summary"]

In [440]:
import json
i = 0
harmful = []
for  schedule in schedules:
    
    #print(schedule)
    #print(type(schedule))
    try:
        agreed = json.loads(schedule)
    except:
        
        print(f"problem in row numb {i}")
        harmful.append(i)
    
    i += 1

problem in row numb 118
problem in row numb 119
problem in row numb 121
problem in row numb 124
problem in row numb 125
problem in row numb 126
problem in row numb 127
problem in row numb 223
problem in row numb 236

In [441]:
print(harmful)

[118, 119, 121, 124, 125, 126, 127, 223, 236]

In [442]:
concatenated_df = concatenated_df.drop(harmful)

In [443]:
concatenated_df = concatenated_df.reset_index(drop=True)

In [444]:
concatenated_df

,contributor name,job,Input text,features summary
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null..."
1,Ashwin J R,Teacher,"I conduct training workshops twice a month, an...","{ ""name"": ""Training Workshops"", ""sessions"": 2,..."
2,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul..."
3,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d..."
4,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n..."
...,...,...,...,...
242,Kavya M,transporter,weekly team collaboration sessions could be ar...,"{""name"":""collaboration sessions"", ""sessions"":""..."
243,Kavya M,transporter,A weekly review of emergency response plan mig...,"{""name"":""Emergency Response planning"", ""sessio..."
244,Kavya M,transporter,Daily task prioritization and scheduling can b...,"{""name"":""Task Prioritization"", ""sessions"":""6"",..."
245,Kavya M,transporter,Continuous monitoring throughout the week is o...,"{""name"":""continuous Monitoring"", ""sessions"":""1..."
246,Kavya M,transporter,Analyzing fuel efficiency and vehicle performa...,"{""name"":""fuel efficiency measures"", ""sessions""..."

In [445]:
#testing all dictionaries
schedules_1 = concatenated_df["features summary"]

In [446]:
import json
i = 0
#harmful = []
for  schedule in schedules_1:
    
    #print(schedule)
    #print(type(schedule))
    try:
        agreed = json.loads(schedule)
    except:
        
        print(f"problem in row numb {i}")
        #harmful.append(i)
    
    i += 1

In [447]:
# features summary columns
new_columns = ['name', 'sessions', 'a day', 'duration', 'days', 'time']

concatenated_df = concatenated_df.reindex(columns=concatenated_df.columns.union(new_columns, sort=False))

In [448]:
concatenated_df.head()

,contributor name,job,Input text,features summary,name,sessions,a day,duration,days,time
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null...",NaN,NaN,NaN,NaN,NaN,NaN
1,Ashwin J R,Teacher,"I conduct training workshops twice a month, an...","{ ""name"": ""Training Workshops"", ""sessions"": 2,...",NaN,NaN,NaN,NaN,NaN,NaN
2,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul...",NaN,NaN,NaN,NaN,NaN,NaN
3,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d...",NaN,NaN,NaN,NaN,NaN,NaN
4,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n...",NaN,NaN,NaN,NaN,NaN,NaN

In [449]:
schedules_2 = concatenated_df['features summary']

In [450]:
schedules_2

0      { "name": "Therapy Sessions", "sessions": null...
1      { "name": "Training Workshops", "sessions": 2,...
2      { "name": "Language Tutoring", "sessions": nul...
3      { "name": "Research Work", "sessions": 3, "a d...
4      { "name": "Grading Assignments", "sessions": n...
                             ...
242    {"name":"collaboration sessions", "sessions":"...
243    {"name":"Emergency Response planning", "sessio...
244    {"name":"Task Prioritization", "sessions":"6",...
245    {"name":"continuous Monitoring", "sessions":"1...
246    {"name":"fuel efficiency measures", "sessions"...
Name: features summary, Length: 247, dtype: object

In [451]:
concatenated_df.head()

,contributor name,job,Input text,features summary,name,sessions,a day,duration,days,time
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null...",NaN,NaN,NaN,NaN,NaN,NaN
1,Ashwin J R,Teacher,"I conduct training workshops twice a month, an...","{ ""name"": ""Training Workshops"", ""sessions"": 2,...",NaN,NaN,NaN,NaN,NaN,NaN
2,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul...",NaN,NaN,NaN,NaN,NaN,NaN
3,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d...",NaN,NaN,NaN,NaN,NaN,NaN
4,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n...",NaN,NaN,NaN,NaN,NaN,NaN

In [452]:
#convert feature summary column string back to json format and extract each feature to it's column
i = 0
for  schedule in schedules_2:
    
    
    features_dict = json.loads(schedule)
    
    if ' time' in features_dict:
        features_dict["time"] = features_dict.pop(" time")

    
    features_dict['time'] = features_dict.get('time', None)
    
    concatenated_df = pd.concat([concatenated_df, pd.DataFrame(columns=features_dict.keys())])


    
    for column, value in features_dict.items():
        
        concatenated_df.at[i, column] = value
            
    i += 1

In [453]:
concatenated_df.head()

,contributor name,job,Input text,features summary,name,sessions,a day,duration,days,time
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null...",Therapy Sessions,None,False,1 hour,"[Monday, Wednesday, Friday]",None
1,Ashwin J R,Teacher,"I conduct training workshops twice a month, an...","{ ""name"": ""Training Workshops"", ""sessions"": 2,...",Training Workshops,2,True,Full Day,"[Second Saturday, Fourth Saturday]",None
2,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul...",Language Tutoring,None,True,45 minutes,"[Monday, Tuesday, Wednesday, Thursday, Friday]",Evenings
3,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d...",Research Work,3,False,2 hours,"[Tuesday, Thursday, Saturday]",Mornings
4,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n...",Grading Assignments,None,False,2 hours,[Thursday],Afternoon

In [454]:
concatenated_df.columns

Index(['contributor name', 'job', 'Input text', 'features summary', 'name',
       'sessions', 'a day', 'duration', 'days', 'time'],
      dtype='object')

In [455]:
concatenated_df["time"].value_counts()

time
Afternoon         54
Morning           45
Evening           19
afternoon          5
Flexible           3
morning            3
evening            3
Evenings           1
Mornings           1
Late Afternoon     1
Morning            1
Name: count, dtype: int64

In [456]:
# convert time column strings into lowercase
concatenated_df['time'] = concatenated_df['time'].apply(lambda x: x.lower() if isinstance(x, str) else x)

In [457]:
concatenated_df["time"].value_counts()

time
afternoon         59
morning           48
evening           22
flexible           3
evenings           1
mornings           1
late afternoon     1
morning            1
Name: count, dtype: int64

In [458]:
# delete "s" character from the end of each time period
concatenated_df['time'] = concatenated_df['time'].str.rstrip('s')

In [459]:
concatenated_df["time"].value_counts()

time
afternoon         59
morning           49
evening           23
flexible           3
late afternoon     1
morning            1
Name: count, dtype: int64

In [460]:
concatenated_df.head()

,contributor name,job,Input text,features summary,name,sessions,a day,duration,days,time
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null...",Therapy Sessions,None,False,1 hour,"[Monday, Wednesday, Friday]",None
1,Ashwin J R,Teacher,"I conduct training workshops twice a month, an...","{ ""name"": ""Training Workshops"", ""sessions"": 2,...",Training Workshops,2,True,Full Day,"[Second Saturday, Fourth Saturday]",None
2,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul...",Language Tutoring,None,True,45 minutes,"[Monday, Tuesday, Wednesday, Thursday, Friday]",evening
3,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d...",Research Work,3,False,2 hours,"[Tuesday, Thursday, Saturday]",morning
4,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n...",Grading Assignments,None,False,2 hours,[Thursday],afternoon

In [461]:
concatenated_df["duration"].value_counts()

duration
2 hours                                           70
1 hour                                            63
1.5 hours                                         45
3 hours                                           18
45 minutes                                        14
30 minutes                                        10
4 hours                                            6
1 hours                                            4
1                                                  4
Flexible                                           3
20 minutes                                         2
1 hour each                                        1
15 minutes (Meditation) + 20 minutes (Workout)     1
15 minutes                                         1
40 minutes                                         1
10 minutes                                         1
Full Day                                           1
Half Day                                           1
flexible                                           1
Name: count, dtype: int64

In [462]:
concatenated_df["days"].value_counts()

days
[Friday]                                                    28
[Tuesday, Thursday]                                         22
[Wednesday]                                                 21
[Monday, Tuesday, Wednesday, Thursday, Friday]              16
[Thursday]                                                  15
                                                            ..
[First Tuesday of the Month, Third Tuesday of the Month]     1
[Last Monday of the Month]                                   1
[Third Thursday of the Month]                                1
[Second Wednesday of the Month]                              1
[tuesday]                                                    1
Name: count, Length: 62, dtype: int64

In [463]:
concatenated_df["Input text"].value_counts()

Input text
I have therapy sessions with clients, and each session lasts for 1 hour; I want to schedule these sessions on Monday, Wednesday, and Friday afternoons.                                                        1
I have weekly financial analysis sessions on Thursdays, dedicating 1 hour to review and interpret financial statements                                                                                         1
I allocate the last Friday of each month for financial closing activities, dedicating 3 hours to ensure accurate month-end procedures.                                                                         1
I have weekly meeting sessions with the finance team on Wednesdays, spending 1.5 hours discussing budget updates and financial forecasts.                                                                      1
I schedule monthly auditing sessions on the first Thursday, dedicating 4 hours to review financial records and ensure compliance.                                                                              1
                                                                                                                                                                                                              ..
I organize bi-monthly music appreciation sessions on Wednesday and Friday afternoons, with each session lasting 1 hour to expose students to various genres.                                                   1
For enhancing digital skills, I conduct weekly coding bootcamps every Monday and Thursday evening, with each bootcamp lasting 2 hours.                                                                         1
I allocate time every Friday afternoon for student-led project presentations, providing a platform for students to showcase their independent research and creativity, spending 1.5 hours on this activity.    1
To foster a sense of community, I organize monthly cultural potluck lunches on the first Friday of each month, lasting 1.5 hours.                                                                              1
Analyzing fuel efficiency and vehicle performance may take around 2 hours per week sheduled on wednesdays.                                                                                                     1
Name: count, Length: 247, dtype: int64

In [464]:
#delete monthly tasks

monthly = concatenated_df["Input text"]

In [465]:
monthly

0      I have therapy sessions with clients, and each...
1      I conduct training workshops twice a month, an...
2      I have language tutoring sessions every weekda...
3      I need to allocate time for research work, pla...
4      I have grading sessions for assignments every ...
                             ...
242    weekly team collaboration sessions could be ar...
243    A weekly review of emergency response plan mig...
244    Daily task prioritization and scheduling can b...
245    Continuous monitoring throughout the week is o...
246    Analyzing fuel efficiency and vehicle performa...
Name: Input text, Length: 247, dtype: object

In [466]:
i = 0
monthly_index = []
monthly_task = ["month" , "Month" , "monthly" , "Monthly"]
for month_task in monthly:

    for mon in monthly_task : 
        
        if str(mon) in str(month_task):
            
            monthly_index.append(i)
    
    i += 1

In [467]:
monthly_index

[1,
 5,
 12,
 12,
 16,
 16,
 18,
 18,
 20,
 20,
 24,
 24,
 25,
 25,
 27,
 27,
 30,
 30,
 32,
 32,
 35,
 35,
 36,
 36,
 37,
 37,
 39,
 39,
 44,
 44,
 48,
 48,
 52,
 52,
 53,
 53,
 55,
 57,
 57,
 60,
 60,
 62,
 62,
 65,
 65,
 67,
 67,
 68,
 68,
 71,
 72,
 72,
 73,
 73,
 75,
 75,
 78,
 78,
 81,
 82,
 82,
 86,
 86,
 87,
 87,
 90,
 90,
 91,
 92,
 92,
 96,
 97,
 97,
 100,
 100,
 102,
 105,
 105,
 109,
 109,
 112,
 112,
 114,
 114,
 115,
 116,
 116,
 124,
 126,
 141,
 141,
 146,
 146,
 149,
 149,
 153,
 153,
 157,
 159,
 159,
 162,
 162,
 164,
 164,
 171,
 171,
 220]

In [468]:
print(len(monthly_index))

107

In [469]:
unique_rows = []

for ind in monthly_index:
    
    if ind not in unique_rows:
        
        unique_rows.append(ind)

In [470]:
unique_rows

[1,
 5,
 12,
 16,
 18,
 20,
 24,
 25,
 27,
 30,
 32,
 35,
 36,
 37,
 39,
 44,
 48,
 52,
 53,
 55,
 57,
 60,
 62,
 65,
 67,
 68,
 71,
 72,
 73,
 75,
 78,
 81,
 82,
 86,
 87,
 90,
 91,
 92,
 96,
 97,
 100,
 102,
 105,
 109,
 112,
 114,
 115,
 116,
 124,
 126,
 141,
 146,
 149,
 153,
 157,
 159,
 162,
 164,
 171,
 220]

In [471]:
print(len(unique_rows))

60

In [472]:
concatenated_df = concatenated_df.drop(unique_rows)

In [473]:
concatenated_df

,contributor name,job,Input text,features summary,name,sessions,a day,duration,days,time
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null...",Therapy Sessions,None,False,1 hour,"[Monday, Wednesday, Friday]",None
2,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul...",Language Tutoring,None,True,45 minutes,"[Monday, Tuesday, Wednesday, Thursday, Friday]",evening
3,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d...",Research Work,3,False,2 hours,"[Tuesday, Thursday, Saturday]",morning
4,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n...",Grading Assignments,None,False,2 hours,[Thursday],afternoon
6,Ashwin J R,Teacher,I have professional development sessions every...,"{ ""name"": ""Professional Development"", ""session...",Professional Development,None,False,1.5 hours,[Wednesday],morning
...,...,...,...,...,...,...,...,...,...,...
242,Kavya M,transporter,weekly team collaboration sessions could be ar...,"{""name"":""collaboration sessions"", ""sessions"":""...",collaboration sessions,1,false,2 hours,tuesday,None
243,Kavya M,transporter,A weekly review of emergency response plan mig...,"{""name"":""Emergency Response planning"", ""sessio...",Emergency Response planning,1,false,1 hours,[wednesday],None
244,Kavya M,transporter,Daily task prioritization and scheduling can b...,"{""name"":""Task Prioritization"", ""sessions"":""6"",...",Task Prioritization,6,true,1 hours,"[monday, Tuesday, wednesday, thursday, Friday,...",None
245,Kavya M,transporter,Continuous monitoring throughout the week is o...,"{""name"":""continuous Monitoring"", ""sessions"":""1...",continuous Monitoring,1,false,2 hours,[tuesday],None
246,Kavya M,transporter,Analyzing fuel efficiency and vehicle performa...,"{""name"":""fuel efficiency measures"", ""sessions""...",fuel efficiency measures,1,false,2 hours,[wednesday],None

In [474]:
concatenated_df

,contributor name,job,Input text,features summary,name,sessions,a day,duration,days,time
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null...",Therapy Sessions,None,False,1 hour,"[Monday, Wednesday, Friday]",None
2,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul...",Language Tutoring,None,True,45 minutes,"[Monday, Tuesday, Wednesday, Thursday, Friday]",evening
3,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d...",Research Work,3,False,2 hours,"[Tuesday, Thursday, Saturday]",morning
4,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n...",Grading Assignments,None,False,2 hours,[Thursday],afternoon
6,Ashwin J R,Teacher,I have professional development sessions every...,"{ ""name"": ""Professional Development"", ""session...",Professional Development,None,False,1.5 hours,[Wednesday],morning
...,...,...,...,...,...,...,...,...,...,...
242,Kavya M,transporter,weekly team collaboration sessions could be ar...,"{""name"":""collaboration sessions"", ""sessions"":""...",collaboration sessions,1,false,2 hours,tuesday,None
243,Kavya M,transporter,A weekly review of emergency response plan mig...,"{""name"":""Emergency Response planning"", ""sessio...",Emergency Response planning,1,false,1 hours,[wednesday],None
244,Kavya M,transporter,Daily task prioritization and scheduling can b...,"{""name"":""Task Prioritization"", ""sessions"":""6"",...",Task Prioritization,6,true,1 hours,"[monday, Tuesday, wednesday, thursday, Friday,...",None
245,Kavya M,transporter,Continuous monitoring throughout the week is o...,"{""name"":""continuous Monitoring"", ""sessions"":""1...",continuous Monitoring,1,false,2 hours,[tuesday],None
246,Kavya M,transporter,Analyzing fuel efficiency and vehicle performa...,"{""name"":""fuel efficiency measures"", ""sessions""...",fuel efficiency measures,1,false,2 hours,[wednesday],None

In [475]:
concatenated_df = concatenated_df.reset_index(drop=True)

In [476]:
concatenated_df

,contributor name,job,Input text,features summary,name,sessions,a day,duration,days,time
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null...",Therapy Sessions,None,False,1 hour,"[Monday, Wednesday, Friday]",None
1,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul...",Language Tutoring,None,True,45 minutes,"[Monday, Tuesday, Wednesday, Thursday, Friday]",evening
2,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d...",Research Work,3,False,2 hours,"[Tuesday, Thursday, Saturday]",morning
3,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n...",Grading Assignments,None,False,2 hours,[Thursday],afternoon
4,Ashwin J R,Teacher,I have professional development sessions every...,"{ ""name"": ""Professional Development"", ""session...",Professional Development,None,False,1.5 hours,[Wednesday],morning
...,...,...,...,...,...,...,...,...,...,...
182,Kavya M,transporter,weekly team collaboration sessions could be ar...,"{""name"":""collaboration sessions"", ""sessions"":""...",collaboration sessions,1,false,2 hours,tuesday,None
183,Kavya M,transporter,A weekly review of emergency response plan mig...,"{""name"":""Emergency Response planning"", ""sessio...",Emergency Response planning,1,false,1 hours,[wednesday],None
184,Kavya M,transporter,Daily task prioritization and scheduling can b...,"{""name"":""Task Prioritization"", ""sessions"":""6"",...",Task Prioritization,6,true,1 hours,"[monday, Tuesday, wednesday, thursday, Friday,...",None
185,Kavya M,transporter,Continuous monitoring throughout the week is o...,"{""name"":""continuous Monitoring"", ""sessions"":""1...",continuous Monitoring,1,false,2 hours,[tuesday],None
186,Kavya M,transporter,Analyzing fuel efficiency and vehicle performa...,"{""name"":""fuel efficiency measures"", ""sessions""...",fuel efficiency measures,1,false,2 hours,[wednesday],None

In [477]:
#final checking
monthly_1 = concatenated_df["Input text"]

i = 0
monthly_index_1 = []
monthly_task = ["month" , "Month" , "monthly" , "Monthly"]
for month_task in monthly_1:

    for mon in monthly_task : 
        
        if str(mon) in str(month_task):
            
            monthly_index_1.append(i)
    
    i += 1

In [478]:
monthly_index_1

[]

In [479]:
sample = concatenated_df.loc[0, 'Input text']

In [480]:
sample

'I have therapy sessions with clients, and each session lasts for 1 hour; I want to schedule these sessions on Monday, Wednesday, and Friday afternoons.'

In [481]:
if "afternoon" in sample:
    print("yes")

yes

In [482]:
#find None value in time column

none_values = concatenated_df[concatenated_df["time"].isna()]

In [483]:
none_values.head()

,contributor name,job,Input text,features summary,name,sessions,a day,duration,days,time
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null...",Therapy Sessions,None,False,1 hour,"[Monday, Wednesday, Friday]",None
13,Ashwin J R,Teacher,I allocate time on Wednesdays for student coun...,"{ ""name"": ""Student Counseling Sessions"", ""sess...",Student Counseling Sessions,None,False,45 minutes,[Wednesday],None
73,Fitsum Getachew,psychologist,"""As a psychologist, my daily routine involves ...","{""name"": ""Therapy Sessions"", ""sessions"": 1, ""a...",Therapy Sessions,1,True,1,"[Monday, Tuesday, Wednesday, Thursday, Friday]",None
74,Fitsum Getachew,psychologist,"""Engaging in ongoing academic research, I dedi...","{""name"": ""Academic Research"", ""sessions"": 1, ...",Academic Research,1,False,1,"[Monday, Tuesday, Wednesday, Thursday, Friday]",None
75,Fitsum Getachew,psychologist,"""Every three weeks, I provide expert opinions...","{""name"": ""Expert Opinions"", ""sessions"": 1, ""a ...",Expert Opinions,1,False,1,"[Thursday, Friday, Saturday]",None

In [484]:

rows_number = none_values.index.tolist()

In [485]:
rows_number

[0,
 13,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 83,
 84,
 87,
 89,
 93,
 94,
 95,
 96,
 97,
 99,
 101,
 102,
 103,
 105,
 107,
 109,
 110,
 112,
 140,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186]

In [486]:
for num in rows_number:
    sample = concatenated_df.at[int(num), "Input text"]
    
    if "afternoon" in sample or "Afternoon" in str(sample):
        concatenated_df.at[int(num), "time"] = "afternoon"
        continue
    
    elif "morning" in sample or "Morning" in str(sample) :
        concatenated_df.at[int(num), "time"] = "morning"
        continue
    
    elif "evening" in sample or "Evening" in str(sample) :
        concatenated_df.at[int(num), "time"] = "evening"
        continue
    
    else:
        continue

In [487]:
concatenated_df.head()

,contributor name,job,Input text,features summary,name,sessions,a day,duration,days,time
0,Ashwin J R,Therapist,"I have therapy sessions with clients, and each...","{ ""name"": ""Therapy Sessions"", ""sessions"": null...",Therapy Sessions,None,False,1 hour,"[Monday, Wednesday, Friday]",afternoon
1,Ashwin J R,Teacher,I have language tutoring sessions every weekda...,"{ ""name"": ""Language Tutoring"", ""sessions"": nul...",Language Tutoring,None,True,45 minutes,"[Monday, Tuesday, Wednesday, Thursday, Friday]",evening
2,Ashwin J R,Teacher,"I need to allocate time for research work, pla...","{ ""name"": ""Research Work"", ""sessions"": 3, ""a d...",Research Work,3,False,2 hours,"[Tuesday, Thursday, Saturday]",morning
3,Ashwin J R,Teacher,I have grading sessions for assignments every ...,"{ ""name"": ""Grading Assignments"", ""sessions"": n...",Grading Assignments,None,False,2 hours,[Thursday],afternoon
4,Ashwin J R,Teacher,I have professional development sessions every...,"{ ""name"": ""Professional Development"", ""session...",Professional Development,None,False,1.5 hours,[Wednesday],morning

In [488]:
sample_input = concatenated_df.loc[13 , 'Input text']
print(sample_input)
sample_time = concatenated_df.loc[13 , "time"]
print(sample_time)

I allocate time on Wednesdays for student counseling sessions, with each session lasting 45 minutes.
None

In [489]:
sample_input = concatenated_df.loc[ 89, 'Input text']
print(sample_input)
sample_time = concatenated_df.loc[89 , "time"]
print(sample_time)

I schedule weekly review sessions on Sundays to revisit and reinforce what I learned during the week.
None

In [490]:
for num in rows_number:
    sample_input = concatenated_df.loc[ num, 'Input text']
    print(sample_input)
    sample_time = concatenated_df.loc[num, "time"]
    print(sample_time)

I have therapy sessions with clients, and each session lasts for 1 hour; I want to schedule these sessions on Monday, Wednesday, and Friday afternoons.
afternoon
I allocate time on Wednesdays for student counseling sessions, with each session lasting 45 minutes.
None
"As a psychologist, my daily routine involves conducting therapy sessions to provide emotional support and guidance to clients seeking mental health assistance."
None
"Engaging in ongoing academic research, I dedicate a significant portion of my time each week to studying new psychological theories and contributing to the field's knowledge base."
None
 "Every three weeks, I provide expert opinions in legal cases, utilizing my psychological expertise to offer insights and assessments in legal proceedings."
None
I need to study for exams every weekday for about 2 hours each day.
None
I volunteer at a community center twice a week, and each volunteering session takes around 4 hours.
None
I have language learning sessions daily, and I'd like to allocate 30 minutes to practice speaking.
None
I plan to work on my research project on Mondays and Wednesdays, dedicating 3 hours each day.
None
I have part-time work shifts on Tuesdays and Thursdays, and each shift is 4 hours long.
None
I have group study sessions with classmates on Tuesdays and Thursdays, and each session is 1.5 hours."
None
I allocate time for personal projects every evening, dedicating 1 hour to work on creative endeavors.
evening
I have weekly team meetings on Fridays for project updates, and each meeting lasts approximately 1 hour.
None
I schedule weekly review sessions on Sundays to revisit and reinforce what I learned during the week.
None
I schedule bi-weekly progress check-ins with my mentor on Tuesdays, dedicating 30 minutes to discuss project updates.
None
I have weekly cooking sessions on Sundays, dedicating 2 hours to experiment with new recipes.
None
I have weekly podcast recording sessions on Thursdays, spending 1.5 hours discussing topics with co-hosts.
None
I need to reconcile bank statements every Monday and Wednesday, spending 2 hours on each session.
None
I schedule weekly expense tracking sessions on Fridays, spending 1 hour categorizing and recording expenses
None
I have quarterly tax preparation sessions, spending 4 hours on the first Monday of each quarter to organize documents.
None
I have weekly financial analysis sessions on Thursdays, dedicating 1 hour to review and interpret financial statements
None
I schedule bi-weekly accounts reconciliation sessions on Mondays and Fridays, spending 1.5 hours on each reconciliation
None
I have weekly meeting sessions with the finance team on Wednesdays, spending 1.5 hours discussing budget updates and financial forecasts.
None
I have quarterly financial forecasting sessions, dedicating 3 hours on the first Monday of each quarter to analyze trends and projections
None
I schedule quarterly tax planning sessions, dedicating 2 hours on the first Monday of each quarter to assess tax strategies
None
I have weekly client consultation sessions on Fridays, dedicating 1 hour to address client inquiries and provide financial advice
None
I schedule weekly financial training sessions for team members on Mondays, spending 1.5 hours on each session to enhance accounting knowledge.
None
I schedule twice a week budget review sessions on Tuesdays and Thursdays, dedicating 1.5 hours on each session to assess financial allocations.
None
I have 10 medical consultations a day, Each patient consultation is about 30 minutes ,Let's schedule patient consultations Monday to Friday,
None
"In the mornings, I dedicate time to researching breaking news, a task that typically lasts for two hours. This ensures that I'm well-informed before our editorial meeting at 10 AM, where we plan the day's coverage."
morning
"Every Thursday afternoon, I engage in in-depth interviews for a feature article. These sessions usually last around three hours, allowing me to gather detailed insights for a compelling narrative."
afternoon
"On Mondays and Fridays, I allocate time for fact-checking and verifying information. This meticulous process, lasting one hour each day, ensures the accuracy of my articles."
None
"During the first half of Wednesdays, I collaborate with photographers and videographers to create multimedia content. This dynamic task, taking three hours, enhances the visual appeal of our stories."
None
"Friday mornings involve networking and reaching out to key sources for exclusive insights. This ongoing task, spanning two hours, establishes and nurtures valuable connections."
morning
"Twice a week, I dedicate an hour to attending industry events, capturing live stories. This on-the-field coverage provides real-time updates for our audience."
None
"Saturday mornings are reserved for translating complex issues into accessible articles. This creative task, taking two hours, ensures our content appeals to a broad readership."
morning
"Every weekday morning and evening, I engage in data analysis to stay informed about media trends. This ongoing task, lasting one hour, helps us adapt to the evolving news landscape."
morning
"Sundays involve reflection on ethical standards and reviewing media regulations to ensure our work aligns with the highest level of integrity. This weekly task, taking two hours, contributes to responsible journalism."
None
"Mornings kick off with setting up the barber shop, ensuring a clean and inviting atmosphere for clients. This daily routine, lasting 30 minutes, prepares the space for a day of grooming sessions."
morning
"On Wednesdays, I allocate time for specialized beard grooming sessions. This task, taking one hour,  allows me to focus on intricate techniques and deliver tailored services to 3 clients."
None
"Every Thursday afternoon is dedicated to staff training and skill development. This weekly session, lasting two hours, ensures our team stays updated on the latest trends and techniques."
afternoon
"Friday evenings are peak hours for hair styling and cutting. This high-demand period, lasting five hours for five clients, requires precision and efficiency to accommodate the weekend rush."
evening
"Sundays involve creative haircut sessions. This enjoyable task, taking one hour per client taking maximum of 4 clients in the morning and 4 clients in the evening , allows for imaginative styles to make the experience fun for clients."
morning
"Saturday afternoons are reserved for personalized consultations with clients, discussing style preferences and upcoming trends. This individualized service, taking 45 minutes per client- taking maximum of 3 clients , enhances customer satisfaction."
afternoon
 "Midweek evenings involve experimenting with new hairstyling techniques. This ongoing task, lasting 1.5 hours, allows for creative exploration and staying updated on evolving trends."
evening
"Bi-weekly on Wednesdays, I allocate time for deep cleaning and sterilization of all tools and equipment. This thorough task, taking two hours, maintains a hygienic and safe environment."
None
"Friday mornings are dedicated to client follow-ups and feedback analysis. This weekly task, taking 45 minutes includes 5 clients, ensures continuous improvement in service quality based on customer input."
morning
daily vehicle asssignments and maintenanceof resource allocation take about 2 hours per day.
None
weekly vehicle inspection of resource allocation take about 4 hours per week sheduled on mondays.
None
daily driver briefing and task assignment take about 1 hour per day.
None
personnel meetings and training sessions require about 2 hour per week sheduled on thursdays.
None
planning and optimizing delivery routes weekly may take 3 hours sheduled on Friday.
None
daily communiaction updates and coordination activities generally take about 2 hours per day.
None
weekly team collaboration sessions could be around 2 hours sheduled on tuesdays.
None
A weekly review of emergency response plan might take about 1 hour sheduled on wednesdays.
None
Daily task prioritization and scheduling can be acccomplished in about 1 hour per day.
None
Continuous monitoring throughout the week is ongoing sheduled on tuesdays.
None
Analyzing fuel efficiency and vehicle performance may take around 2 hours per week sheduled on wednesdays.
None

In [492]:
concatenated_df['time'].value_counts()

time
afternoon         57
morning           55
evening           26
flexible           3
late afternoon     1
morning            1
Name: count, dtype: int64

In [493]:
concatenated_df = concatenated_df.drop(columns = ['contributor name', 'features summary'])

In [494]:
concatenated_df.head()

,job,Input text,name,sessions,a day,duration,days,time
0,Therapist,"I have therapy sessions with clients, and each...",Therapy Sessions,None,False,1 hour,"[Monday, Wednesday, Friday]",afternoon
1,Teacher,I have language tutoring sessions every weekda...,Language Tutoring,None,True,45 minutes,"[Monday, Tuesday, Wednesday, Thursday, Friday]",evening
2,Teacher,"I need to allocate time for research work, pla...",Research Work,3,False,2 hours,"[Tuesday, Thursday, Saturday]",morning
3,Teacher,I have grading sessions for assignments every ...,Grading Assignments,None,False,2 hours,[Thursday],afternoon
4,Teacher,I have professional development sessions every...,Professional Development,None,False,1.5 hours,[Wednesday],morning

In [495]:
len(concatenated_df)

187

In [496]:
concatenated_df = concatenated_df.reset_index(drop=True)

In [497]:
concatenated_df.to_csv('concatenated_task_scheduling.csv')